// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Default
$body-bg: #ffffff;

// index Page
$bg-main: #ec5858;
$white: #FFFFFF;
$black: #000000;
$card-dollar-green: green;
$card-gold: gold;
$border: rgb(228, 228, 228);
// Banner Colors
