// Import page-specific CSS files here.
@import "home";
@import "show";
@import "my_bookings";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: $bg-main;
  overflow-x: hidden;
  color: white;
}
