<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Last Resort</h1>

    <h2>Contact</h2>
    <address> Plateau Mont-Royal<br>
      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul nav_social">
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Services</h2>

      <ul class="nav__ul nav__ul--extra">
        <li><a href="#">Home</a></li>
        <li><a href="#">Create a Spell</a></li>
        <li><a href="#">My Spells</a></li>
        <li><a href="#">My Bookings</a></li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2022 Something. All rights reserved.</p>

    <div class="legal__links">
      <span>Made with <span class="heart">♥</span></span>
    </div>
  </div>
</footer>
