<div class="new_spell__container">

  <h1 class='index_title'>Create a Spell</h1>
  <div>
    <%= render "form", spell: @spell %>
  </div>
  <br>



  <div>
    <%= link_to "Back to spells", spells_path %>
  </div>
</div>
