.card{
  height: 830px;
  width: 100%;
  background-color: #ec5858;
  z-index: 2;
  border:#ffffff00;
  &__curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
  &__curve &__curve_svg {
    position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 79px;
}
  &__curve .shape-fill {
    fill: #FFFFFF;
}
}
