.delete__btn--index {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 25px;
}

.delete__btn{
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 25px;
  @media screen and (min-width: 20em) {
    top: -435px;
    right: -48px;
  }
  @media screen and (min-width: 40em) {
    top: -82px;
    right: -5px;
  }
  @media screen and (min-width: 43.8em) {
    top: -95px;
    right: -5px;
  }
  @media screen and (min-width: 60em) {
    top: -67px;
    right: -6px;
  }
}
.delete__btn--show{
  // top: -66px;
  // right: -5px;
  color: white;
  transition: all 0.2s ease;
  &:link, &:visited{
    color: $delete_btn;
  }
  &:hover, &:active{
    transform: scale(1.2);
    color: $delete_btn;
  }
  // @media screen and (max-width: 60em) {
  //   top: -20px;
  //   right: 53px;
  // }
}
