.card-section{
  background-color: $bg-main;
  margin: 40px auto 0;
  width: 100vw;
}
.cards__wrapper_resize{
  width: 880px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 13px;
}
.cards{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  margin-bottom: 30px;
  list-style: none;
  gap: 19px;
}
.card-trip {
  background: $white;
  width: 273px;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  flex-direction: column;
  border-radius: 12px 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.card-trip > img {
  height: 270px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.card-trip h2 {
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #F4F4F4;
  align-items: flex-end;
  align-content: flex-start;
  flex-wrap: nowrap;
  color: $black;
  border-radius: 0 0 12px 12px;
}
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.price{
  color:$card-dollar-green;
  span{
    color:  $card-gold;
  }
}
.card__Separate{
  position: relative;
  a:link, a:visited{
    text-decoration: none;
  }
  transition: .2s ease all;
  &:hover {
    transform: scale(1.03);
  }
}
.card__Separate h2{
  font-size: 1.2rem;
}
.card-trip-infos {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.card-section--mod{
  background-color: #ec5858;
  margin: 0px auto 0;
  width: 50vw;
}
ul{
  padding-left: 1rem;
}
