// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "delete_btn";
@import "form_legend_clear";
@import "footer";
@import "home";
@import "navbar";
@import "notification";
@import "margin_padding_helper";
@import "map";

.index_title{
  background-color: #ec5858;
  color: white;
  padding: 10px;
  // margin-bottom: -22px;
  text-align: center;
  z-index: 1;
  margin: 0;
}

.card-section--mod{
  background-color: #ec5858;
  margin: 0 auto;
  width: 100vw;
}

.text__box--adj{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
