.navbar-lastresort {
  justify-content: space-between;
  background: white;
}

.navbar-lastresort .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.navbar-lastresort .navbar-brand img {
  width: 100px;
  height: 100px;
}

.form-control {
  outline: none;
  width: 100%;
  height: 100%;
  line-height: 36px;
  padding: 0px 12px 0px 48px;
  border: none;
  font-size: 1.4rem;
  appearance: none;
  color: rgb(23, 23, 23);
  font-family: MaisonNeue, sans-serif;
  font-weight: 400;
  // background-color: transparent;
}

.form-inline {
  display: flex;
  position: sticky;
  left: 0px;
  right: 0px;
  bottom: 8px;
  z-index: 1;
  align-items: center
}

.container-fluid {
  display: flex;
  flex-direction: row;
  // height: 52px;
  max-width: 1280px;
  margin: 0px auto;
  -webkit-box-align: center;
  align-items: center;
}

.container-nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.btn {
  color: black;
  border: black;
  &:link, &:visited{
    color: black;
  }
  &:hover, &:active{
    color: black;
  }
}

.nav-link {
  color: black;
}

.border {
  border: 1px solid black;
}
